
{% extends "website/index.html" %}
{%block detail%}
    <center>
    <table class="table is-bordered is-striped  is-hoverable" >
            <thead>
            <tr>
                <th><abbr title="quantity">QTY</abbr></th>
                <th></th>
                <th>&ensp;Billing&ensp;</th>
                <th>&ensp;Design&ensp;</th>
                <th>&ensp;&ensp;CNC&ensp;&ensp;</th>
                <th>&ensp;Grinding&ensp;</th>
                <th>&ensp;Painting&ensp;</th>
                <th>&ensp;Packaging&ensp;</th>
                <th>&ensp;Shipping&ensp;</th>
                <th>Order Number</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>1</th>
                <td>{{ product_details.description }}</td>
                {% if product_details.status_id == 1 %}
                <td><progress class="progress is-danger" max="100"></progress></td>
                <td><progress class="progress is-warning" value="0" max="100"></progress></td>
                <td><progress class="progress is-primary" value="0" max="100"></progress></td>
                <td><progress class="progress is-info" value="0" max="100"></progress></td>
                <td><progress class="progress is-link" value="0" max="100"></progress></td>
                <td><progress class="progress is-primary" value="0" max="100"></progress></td>
                <td><progress class="progress is-success" value="0" max="100"></progress></td>
                {% endif %}
                {% if product_details.status_id == 2 %}
                <td><progress class="progress is-success" value="100" max="100"></progress></td>
                <td><progress class="progress is-warning" max="100">15%</progress></td>
                <td><progress class="progress is-primary" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-info" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-link" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-primary" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="0" max="100">15%</progress></td>
                {% endif %}
                {% if product_details.status_id == 3 %}
                <td><progress class="progress is-success" value="100" max="100"></progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-primary" max="100">15%</progress></td>
                <td><progress class="progress is-info" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-link" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-primary" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="0" max="100">15%</progress></td>
                {% endif %}
                {% if product_details.status_id == 4 %}
                <td><progress class="progress is-success" value="100" max="100"></progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-info" max="100">15%</progress></td>
                <td><progress class="progress is-link" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-primary" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="0" max="100">15%</progress></td>
                {% endif %}
                {% if product_details.status_id == 5 %}
                <td><progress class="progress is-success" value="100" max="100"></progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-link" max="100">15%</progress></td>
                <td><progress class="progress is-primary" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="0" max="100">15%</progress></td>
                {% endif %}
                {% if product_details.status_id == 6 %}
                <td><progress class="progress is-success" value="100" max="100"></progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-primary" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="0" max="100">15%</progress></td>
                {% endif %}
                {% if product_details.status_id == 7 %}
                <td><progress class="progress is-success" value="100" max="100"></progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                {% endif %}
                <td>{{ product_details.UPC }}</td>
            </tr>
            </tbody>
        </div>
    </table>
</center>
</div>
<br>
{% if product_details.status_id == 1 %}
<div class="level-item has-text-centered">
<p class="buttons">
&ensp;
<a class="button is-warning" href="{% url 'website:product_delete_confirm' product_details.id product_details.status_id %}">&ensp;&ensp;Cancel Order&ensp;&ensp;</a>
<a class="button is-info" href="{% url 'website:send_to_design' product_details.id %}">Process to Design</a>
{% endif %}
{% if product_details.status_id == 2 %}
<div class="level-item has-text-centered">
        <p class="buttons">
        &ensp;
        <a class="button is-warning" href="{% url 'website:product_delete_confirm' product_details.id product_details.status_id %}">&ensp;&ensp;Cancel Order&ensp;&ensp;</a>        
<a class="button is-info" href="{% url 'website:send_to_design' product_details.id %}">Process to CNC</a>
{% endif %}
{% if product_details.status_id == 3 %}
<div class="level-item has-text-centered">
        <p class="buttons">
        &ensp;
        <a class="button is-warning" href="{% url 'website:product_delete_confirm' product_details.id product_details.status_id %}">&ensp;&ensp;Cancel Order&ensp;&ensp;</a>
        
<a class="button is-info" href="{% url 'website:send_to_design' product_details.id %}">Process to Grinding</a>
{% endif %}
{% if product_details.status_id == 4 %}
<div class="level-item has-text-centered">
        <p class="buttons">
        &ensp;
        <a class="button is-warning" href="{% url 'website:product_delete_confirm' product_details.id product_details.status_id %}">&ensp;&ensp;Cancel Order&ensp;&ensp;</a>        
<a class="button is-info" href="{% url 'website:send_to_design' product_details.id %}">Process to Painting</a>
{% endif %}
{% if product_details.status_id == 5 %}
<div class="level-item has-text-centered">
        <p class="buttons">
        &ensp;
        <a class="button is-warning" href="{% url 'website:product_delete_confirm' product_details.id product_details.status_id %}">&ensp;&ensp;Cancel Order&ensp;&ensp;</a>
        
<a class="button is-info" href="{% url 'website:send_to_design' product_details.id %}">Process to Packaging</a>
{% endif %}
{% if product_details.status_id == 6 %}
<div class="level-item has-text-centered">
        <p class="buttons">
        &ensp;
        <a class="button is-warning" href="{% url 'website:product_delete_confirm' product_details.id product_details.status_id %}">&ensp;&ensp;Cancel Order&ensp;&ensp;</a>        
<a class="button is-info" href="{% url 'website:send_to_design' product_details.id %}">Process to Shipping</a>
{% endif %}
{% if product_details.status_id == 7 %}
<div class="level-item has-text-centered">
        <p class="buttons">
        &ensp;
        <a class="button is-warning" href="{% url 'website:product_delete_confirm' product_details.id product_details.status_id %}">&ensp;&ensp;Remove Order&ensp;&ensp;</a>        
{% endif %}
</p>
</div>
{% endblock %}


