{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/website/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <title>Keep it Lean</title>
  </head>
  <div class="section">
    <div class="container">
  <div class="tabs is-boxed tabs is-centered">
    <ul>
      <li class="{{ tab_process }}">
        <a href="{% url 'website:process' %}">
          <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
          <span>New Product</span>
        </a>
      </li>
      <li class="{{ tab_overview }}">
        <a href="{% url 'website:overview' %}">
          <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
          <span>Overview</span>
        </a>
      </li>
      <li class="{{ tab_billing }}">
        <a href="{% url 'website:billing_status' %}">
          <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
          <span>Billing</span>
        </a>
      </li>
      <li class="{{ tab_design }}">
        <a href="{% url 'website:design_status' %}">
          <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
          <span>Design</span>
        </a>
      </li>
      <li class="{{ tab_cnc }}">
        <a href="{% url 'website:cnc_status' %}">
          <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
          <span>CNC</span>
        </a>
      </li>
      <li class="{{ tab_grinding }}">
        <a href="{% url 'website:grinding_status' %}">
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Grinding</span>
        </a>
      </li>
      <li class="{{ tab_painting }}">
        <a href="{% url 'website:painting_status' %}">
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Painting</span>
        </a>
      </li>
      <li class="{{ tab_packaging }}">
        <a href="{% url 'website:packaging_status' %}">
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Packaging</span>
        </a>
      </li>
      <li class="{{ tab_shipping }}">
        <a href="{% url 'website:shipping_status' %}">
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Shipping</span>
        </a>
      </li>
    </ul>
  </div>
</div>
</div>
  {% block processing %}
  {% endblock %}
  {% block UPC %}
  {% endblock %}
  {% block detail %}
  {% endblock %}
  {% block Description%}
  {% endblock %}
  {% block search %}
  {% endblock search %}
  

</html>


