{% extends "website/index.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" href="/website/static/search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Keep it Lean</title>
  </head>
  <body>
{% block UPC %}
{% csrf_token %}
<div class="level-item">
    <form class="field" action="{% url 'website:product_search' %}" id="paste" method="POST">
{% csrf_token %}
        <div class="field has-addons">
            <p class="control">
                <input onFocus="this.select()" type="text" class="input" name="search_text"  id="search_text" placeholder="Order# or Description">
            </p>
            <p class="control">
                <button class="button is-info" name="button" id="searchbutton"  type="submit">Search</button>
            </p>
        </div>
    </form>
</div>
<br>
{% for product in products %}
<div class="container is-fluid">
<div class="notification">
<p>Order Number: <a href="{% url 'website:product_details' product.id product.status_id %}">
<strong>{{product.UPC}}</strong>
</a>
</p>

{% block Description %}

{% endblock %}
<p>Product: {{product.description}}</p>
<br>
{% if product.status_id == 1 %}
<p>Tracking status: Billing</p>
<progress class="progress is-danger" value="20" max="100"></progress>
{% endif %}
{% if product.status_id == 2 %}
<p>Tracking status: Design</p>
<progress class="progress is-warning" value="30" max="100"></progress>
{% endif %}
{% if product.status_id == 3 %}
<p>Tracking status: CNC</p>
<progress class="progress is-primary" value="40" max="100"></progress>
{% endif %}
{% if product.status_id == 4 %}
<p>Tracking status: Grinding</p>
<progress class="progress is-info" value="60" max="100"></progress>
{% endif %}
{% if product.status_id == 5 %}
<p>Tracking status: Painting</p>
<progress class="progress is-link" value="70" max="100"></progress>
{% endif %}
{% if product.status_id == 6 %}
<p>Tracking status: Packaging</p>
<progress class="progress is-primary" value="90" max="100"></progress>
{% endif %}
{% if product.status_id == 7 %}
<p>Tracking status: Shipping</p>
<progress class="progress is-success" value="100" max="100"></progress>
{% endif %}
</div>
</div>
<br>
{% load static %}
<script src="{% static '/js/search.js' %}"></script>

{% endfor %}

{% endblock %}
</body>
</html>

