{% extends "website/index.html" %}

{% block UPC %}

{% for product in products %}
<div class="container is-fluid">
<div class="notification">
<p>UPC: <a href="{% url 'website:product_details' product.id product.status_id %}">
<strong>{{product.UPC}}</strong>
</a>
</p>

{% block Description %}


{% endblock %}
<p>Product: {{product.description}}</p>
<br>
<p>Tracking status: {{location.name}} </p>
<progress class="progress is-link" value="{{ percentage }}" max="100"></progress>
</div>
</div>
<br>
{% endfor %}
{% endblock %}