
{% extends 'website/index.html'  %}
{% load widget_tweaks %}
  {% block processing %}
    <form action="{% url 'website:process' %}" method="post">
      {% csrf_token %}
      <section>
            <div>
            <div class="container">
            <h1 class="title">
                    Add product UPC
            </h1>
        {{ product_form.UPC|add_class:"input is-small"}}
            </div>
            </div>
      </section>
      <section class="hero">
            <div class="hero-body">
            <div class="container">
            <h1 class="title">
                    Add product Description
            </h1>
        {{ product_form.description|add_class:"textarea"}}
            </div>
            </div>
        </section>
        <div class="buttons is-centered">
    <button class="button is-large is-primary is-centered" type="submit" value="Send To Billing">Send To Billing</button>
</div>
    </form>
  {% endblock %}


