
{% extends "website/index.html" %}
{%block warning %}
    <center>
            <div class="class="tile is-parent">
                    <div class="notification is-warning">
                        <p class="title has-text-centered"><strong>ARE YOU SURE YOU WANT TO REMOVE THIS ORDER?</strong></p>
                        <div class="level-item has-text-centered">
                            <a class="button is-danger" href="{% url 'website:product_delete' product_delete_confirm.id product_delete_confirm.status_id %}">YES</a></button>
                            &ensp;
                            <button class="button is-danger" onclick="window.history.back();" type="button">&nbsp;NO&nbsp;</button>
                                </div>
                    </div>
                    </div>
                    <br>
    <table class="table is-bordered is-striped  is-hoverable" >
            <thead>
            <tr>
                <th><abbr title="quantity">QTY</abbr></th>
                <th></th>
                <th>&ensp;Billing&ensp;</th>
                <th>&ensp;Design&ensp;</th>
                <th>&ensp;&ensp;CNC&ensp;&ensp;</th>
                <th>&ensp;Grinding&ensp;</th>
                <th>&ensp;Painting&ensp;</th>
                <th>&ensp;Packaging&ensp;</th>
                <th>&ensp;Shipping&ensp;</th>
                <th>UPC</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>1</th>
                <td>{{ product_delete_confirm.description }}</td>
                {% if product_delete_confirm.status_id == 1 %}
                <td><progress class="progress is-danger" max="100"></progress></td>
                <td><progress class="progress is-warning" value="0" max="100"></progress></td>
                <td><progress class="progress is-primary" value="0" max="100"></progress></td>
                <td><progress class="progress is-info" value="0" max="100"></progress></td>
                <td><progress class="progress is-link" value="0" max="100"></progress></td>
                <td><progress class="progress is-primary" value="0" max="100"></progress></td>
                <td><progress class="progress is-success" value="0" max="100"></progress></td>
                {% endif %}
                {% if product_delete_confirm.status_id == 2 %}
                <td><progress class="progress is-success" value="100" max="100"></progress></td>
                <td><progress class="progress is-warning" max="100">15%</progress></td>
                <td><progress class="progress is-primary" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-info" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-link" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-primary" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="0" max="100">15%</progress></td>
                {% endif %}
                {% if product_delete_confirm.status_id == 3 %}
                <td><progress class="progress is-success" value="100" max="100"></progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-primary" max="100">15%</progress></td>
                <td><progress class="progress is-info" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-link" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-primary" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="0" max="100">15%</progress></td>
                {% endif %}
                {% if product_delete_confirm.status_id == 4 %}
                <td><progress class="progress is-success" value="100" max="100"></progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-info" max="100">15%</progress></td>
                <td><progress class="progress is-link" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-primary" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="0" max="100">15%</progress></td>
                {% endif %}
                {% if product_delete_confirm.status_id == 5 %}
                <td><progress class="progress is-success" value="100" max="100"></progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-link" max="100">15%</progress></td>
                <td><progress class="progress is-primary" value="0" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="0" max="100">15%</progress></td>
                {% endif %}
                {% if product_delete_confirm.status_id == 6 %}
                <td><progress class="progress is-success" value="100" max="100"></progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-primary" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="0" max="100">15%</progress></td>
                {% endif %}
                {% if product_delete_confirm.status_id == 7 %}
                <td><progress class="progress is-success" value="100" max="100"></progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                <td><progress class="progress is-success" value="100" max="100">15%</progress></td>
                {% endif %}
                <td>{{ product_delete_confirm.UPC }}</td>
            </tr>
            </tbody>
        </div>
    </table>
</center>
</div>
<br>

</div>

{% endblock %}


</div>
